# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.coverage
./vs-code
linux/flutter/generated_plugin_registrant.cc
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release



todo.md 
coverage/lcov.info
server/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
server/android/local.properties
server/coverage/lcov.info
server/linux/flutter/generated_plugin_registrant.cc
server/linux/flutter/generated_plugin_registrant.h
server/linux/flutter/generated_plugins.cmake
server/macos/Flutter/GeneratedPluginRegistrant.swift
server/windows/flutter/generated_plugin_registrant.cc
server/windows/flutter/generated_plugin_registrant.h
server/windows/flutter/generated_plugins.cmake
